<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="/assets/img/VS_favicon.png">
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <nav class="site-nav">
    <a href="/">Home</a>
    <a href="/publications">Publications</a>
    <a href="/patents">Patents</a>
    <a href="/cv.pdf">CV</a>
  </nav>

  {{ content }}

  <hr>
  <p style="font-size:14px; color:#666;">
    © 2026 Varsha Sharma
  </p>

</body>
</html>
